#fullPage {
display: block;
margin: 0 auto;
    padding: 40px;
    margin: 60px 16% 10px 16% ;
    border-radius: 20px;
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    font-family:Arial, Helvetica, sans-serif
}

.openSource{
    padding-left: 16%;
}

#image{
    width: 26%;
}

.temperature{
    margin-top: -22%;
    margin-left: 38%;
    color: white;

}
.celciusAndFahrenheit{
    margin-left: 68px;
    margin-top: -86px;

}

#humidity{
margin-top: 30px;
font-size: 14px;
margin-bottom: 0px;
}

#wind{
    margin-top: -15px;
    font-size: 14px;
}

#current-temperature{
    font-size: 50px;
}

.button {
    background-color: #0bb09d;
    color: white;
    border: 1px solid #0bb09d;
    border-radius: 15px;
    padding: 5px 20px;
  }
  
  .button:hover {
    background-color: #0a453e;
    color: white;
    border: 1px solid #0a453e;
  }